<div class="header">
    
    <div class="header__item">
        <img class="image" src="./assets/images/mrpommes.png" alt="logo">
    </div>
    <div class="header__item"><a href="#">Link 1</a></div>
    <div class="header__item"><a href="#">Link 2</a></div>
    <div class="header__item"><a href="#">Link 3</a></div>
    <div class="header__item"><a href="#">Link 4</a></div>
    <div class="header__item"><a href="#">Link 5</a></div>
    <div class="header__item"><a href="#">Link 6</a></div>
    <div class="header__item header__item--last"><a href="#">Link 7</a></div>

</div>