.header
    grid-area: header
    background-color: white
    border-bottom: 40px solid #2f2f2f    

.footer
    grid-area: footer
    background-color: #2f2f2f
    color: white

.body
    grid-area: main
    background-color: white

.sidenav
    grid-area: navigation
    background-color: yellow
    background-color: #f2f2f2
    box-shadow: 4px 0px 4px rgba(0,0,0,.12)

.page
    display: grid
    grid-template-areas: "header header" "navigation main" "footer footer"
    grid-template-columns: 220px 1fr
    grid-template-rows: 90px 1fr 30px
    min-height: 100vh

@media screen and (max-width: 600px)    
	.page
		grid-template-areas: "header" "main" "footer" 
		grid-template-columns: 100%
		grid-template-rows: 100px 1fr 30px

@media screen and (max-width: 600px)       
    .sidenav
        display: none

    // .page--navopen
    //     grid-template-areas: "header" "navigation" "footer"
    //     grid-template-columns: 100%
    //     grid-template-rows: 100px 1fr 30px
