
<ul class="linklist">
    <li class="linklist__item"><a href="#">Link 1</a></li>
    <li class="linklist__item"><a href="#">Link 2</a></li>
    <li class="linklist__item"><a href="#">Link 3</a></li>
    <li class="linklist__item"><a href="#">Link 4</a></li>
    <li class="linklist__item"><a href="#">Link 5</a></li>
    <li class="linklist__item"><a href="#">Link 6</a></li>
    <li class="linklist__item"><a href="#">Link 7</a></li>
    <li class="linklist__item"><a href="#">Link 8</a></li>       
    <li class="linklist__item"><a href="#">Link 8222</a></li>
</ul>
